.divider {
    position: relative;
}

.divider div {
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background: white;
    padding: 10px;
    margin: 0 auto;
}

.divider hr {
    border: none;
    height: 2px;
    background-color: black;
}

.galleryEntryWrapper {
    display: flex;
    flex-wrap: wrap;
}

.galleryEntry {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.fileEntry {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 2px;
}

.fileEntry img {
    padding-right: 10px;
}
